# Environment variables
.env
**/.env
.env.local
.env.*
!.env.example

# Dependencies
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Font files
*.ttf
*.otf
*.woff
*.woff2
*.eot
design-system/fonts/*
design-system/cdn-copy/fonts/*
**/fonts/

# exclude ./design-system/cdn-copy/ and everything under it
design-system/cdn-copy/
**/design-system/cdn-copy/

# System files
.DS_Store
**/DS_Store
Thumbs.db
node_modules/.bin/aaaa
.cursorignore
.cursorrules

# No cached files
**/tmp/*
