<div class="content-center" style="padding: 20px;">
    <!-- if the length of the text is greater than 150, then show the text smaller -->
    {% if text.size < 150  %}
        <span class="value value--large text--center">{{ text }}</span>
    {% elsif text.size < 300 %}
        <span class="value value--medium text--center">{{ text }}</span>
    {% else %}
        <span class="value value--small text--center">{{ text }}</span>
    {% endif %}
</div>

<div class="title_bar" style="position: absolute; bottom: 0; width: 100%;">
    <span class="title">Random Fact</span>
</div> 