<div class="layout layout--col">
  <div class="content-center">
    <img src="https://twilight-limit-4203.stuey.workers.dev/?height={{ viewport_height }}&width={{ viewport_width }}" alt="Fractal" class="w-full h-full object-cover image-dither" />
  </div>
  
  <div class="title_bar">
    <span class="title">Stu Fractals</span>
    <span class="instance">Generated Art</span>
  </div>
</div> 