<div class="view bg-white">
  <div class="plugin-content">
    <img src="https://twilight-limit-4203.stuey.workers.dev/" alt="Fractal" style="width: 100%; height: calc(50vh - 60px); object-fit: contain;">
  </div>
  
  <div class="title_bar">
    <img class="image" src="{{ image_url }}" style="width: 24px; height: 24px; object-fit: cover;" />
    <span class="title">Stu Fractals</span>
    <span class="instance">Generated Art</span>
  </div>
</div> 