<div class="view bg-white relative">
  <div class="plugin-content" style="height: calc(240px - 32px - 10px);">
    <img src="https://twilight-limit-4203.stuey.workers.dev/" alt="Fractal" class="w-full h-full object-cover" />
  </div>
  
  <div class="title_bar absolute bottom-0 left-0 right-0">
    <span class="title">Stu Fractals</span>
    <span class="instance">Generated Art</span>
  </div>
</div> 