{% assign lat = trmnl.plugin_settings.custom_fields_values.latitude  | default: 41.7128 %}
{% assign long = trmnl.plugin_settings.custom_fields_values.longitude | default: -74.0060 %}

{% assign start_time_hour = 8 %}
{% assign end_time_hour = 11 %}  


<div class="layout">
  <div class="table--condensed">
    <table>
      <thead>
        <tr>
          <th><span class="title title--large">Time</span></th>
          <th class="text--center"><span class="title">Speed</span></th>
          <th class="text--center"><span class="title">Gusts</span></th>
        </tr>
      </thead>
      <tbody>
        {% for i in (start_time_hour..end_time_hour) %}
          {% assign time = hourly.time[i] | date: "%H:%M" %}
          <tr>
            <td><span class="value value--small text--center">{{ time }}</span></td>
            <td><span class="value value--small text--center">{{ hourly.wind_speed_10m[i] }}</span></td>
            <td><span class="value value--small text--center">{{ hourly.wind_gusts_10m[i] }}</span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="title_bar">
  <div class="title">Wind Speed</div>
  <div class="instance">Open-Meteo</div>
</div> 